body {
    /* The demical at the end of the rgba changes the opacity levels for the background colour*/
    /* background-color: rgba(238, 108, 77, 0.5); */
    background-color: #CCDDB7;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 960px;
    margin: auto;

}

h1 {
    text-align: center;
}

/* Navbar container */
.navbar {
    overflow: hidden;
    background-color: #162521;
    font-family: Arial;
}

/* Links inside the navbar */
.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* The dropdown container */
.dropdown {
    float: left;
    overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

/* Add a  background color to navbar links on hover (the content open on nav before dropdown */
.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: #32533D;
}

/* Dropdown content */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Add a background colour to dropdown links when hovering */
.dropdown-content a:hover {
    background-color: #8E518D;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}



#mainHeader {
    color: #162521;
}

h3 {
    text-decoration: underline;
}

img {
    width: 400px;
    padding: 10px 10px;
    margin: 20px 10px;
    /* border: solid black 3px; */

}

.imageFlex {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 600px) {
    img {
        display: none;
    }
}

#boxModel {
    width: 250px;
    padding: 0;
    margin: 0;
}